<div id="<%= dom_id contest %>">
  <p>
    <strong>Name:</strong>
    <%= contest.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= contest.description %>
  </p>

  <p>
    <strong>Platform:</strong>
    <%= contest.platform %>
  </p>

  <p>
    <strong>Registration:</strong>
    <%= link_to contest.registration, contest_registration_path(contest) %>
  </p>

  <p>
    <strong>Timings:</strong>
    <%= contest.timings %>
  </p>

</div>
