<p style="color: green"><%= notice %></p>

<h1>Contests</h1>

<div id="filters">
  <p><%= link_to "Latest", contests_path(q: 'latest') %></p>
  <%= render "search_form" %>
</div>

<div id="contests">
  <% @contests.each do |contest| %>
  </p>
      <%= link_to contest.name, contest %>
    </p>
  <% end %>
</div>

<%= link_to "New contest", new_contest_path %>
